.content {
    margin-left: 6rem;
    margin-right: 6rem;
}

.titleMenu {
    height: 3rem;
    padding-top: 1rem;
    color: #939393;
    font-size: .9rem;
}

.protect_icon{
    height: 26px;
    margin-top: 8px;
    display:block;
    padding-left: 15px;
    filter: invert(35%) sepia(71%) saturate(3919%) hue-rotate(238deg) brightness(90%) contrast(91%);
}

.no-wrap {
    flex-wrap: nowrap!important;
}

ul li.list-group-item {
    padding-left:0;
}

// .filtr_icon-list {

// }

.list-group-menu {
    display: -webkit-inline-box!important;
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 1px solid rgba(0,0,0,.125)!important;
}

li.list-group-item div:nth-child(1),div:nth-child(2)  {
    padding-left:0!important;
}

.color-grey {
    filter: invert(64%) sepia(1%) saturate(12%) hue-rotate(314deg) brightness(92%) contrast(84%);
}

.color-red {
    filter: invert(23%) sepia(50%) saturate(4636%) hue-rotate(350deg) brightness(99%) contrast(98%);
}

.cursor {
    cursor: pointer;
}