.content {
    margin-left: 6rem;
    margin-right: 6rem;
}

.titleMenu {
    height: 3rem;
    padding-top: 1rem;
    color: #939393;
    font-size: .9rem;
}

.protect_icon{
    height: 26px;
    margin-top: 8px;
    display:block;
    padding-left: 15px;
    filter: invert(35%) sepia(71%) saturate(3919%) hue-rotate(238deg) brightness(90%) contrast(91%);
}

.no-wrap {
    flex-wrap: nowrap!important;
}

    