.nav {
    background-color: #f0f0f0;
    width: 6rem;
}

a.nav-link {
    height:6rem;
    font-size: .8rem;
    width:100%;
    padding:0;
}

.nav-pills .nav-link {
    border-radius: 0!important;
}

a {
    color: #939393!important;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f7f7f7!important;
    &:after{
        content:"";
        position:absolute;
        margin-top:15px;
        margin-left:30px;
        transform: rotate(315deg);
        width: 0; 
        height: 0; 
        border-left: 13px solid transparent;
        border-right: 13px solid transparent; 
        border-top: 13px solid #64d666;
    }
}

.nav-link:first-child{
    height: 3rem;
    padding-top:1rem;
    img {
        display:none;
    }
}

.nav-link.active:first-child {
    background-color: #f0f0f0!important;
    color: #939393!important;
    &:after{
        display:none;
    }
}
.nav_icon {
    margin-top:21px;
    margin-left: auto;
    margin-right: auto;
    height:30px;
    filter: invert(64%) sepia(1%) saturate(12%) hue-rotate(314deg) brightness(92%) contrast(84%);
      
}

.nav-link.active {
    span{
      color: #5e5d5d;
    }
    img {
        filter: invert(38%) sepia(5%) saturate(12%) hue-rotate(358deg) brightness(94%) contrast(96%); 
    }
}

.dblock{
    display:block;
}

.col-padding-15 {
    padding-right: 15px;
    padding-left: 15px;
}