.nav-dark {
    background-color: #3b4557
}

.btn-outline-success {
    color: #5abb5c!important;
}

.btn-outline-success:hover {
    color: #fff!important;
    background-color: #5abb5c!important;
    border-color: #5abb5c!important;
}

nav.navbar {
    min-height: 5rem!important;
}

